@page "/prijavisusjeda"

<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card pl-5 pr-5 pt-5 pb-5">
        <form>
          <div class="form-group pt-3">
            <label for="idime">Ime</label>
            <input type="text" class="form-control" id="idime" placeholder="Ime">
          </div>
          <div class="form-group">
            <label for="idprezime">Prezime</label>
            <input type="text" class="form-control" id="idprezime" placeholder="Prezime">
          </div>
          <div class="form-group">
            <label for="ideadresa">Adresa</label>
            <input type="text" class="form-control" id="ideadresa" placeholder="Adresa">
          </div>
          <div class="form-group form-check pl-4 pt-4">
            <input type="checkbox" class="form-check-input" id="idrukavica">
            <label class="form-check-label" for="idrukavica">Ne nosi rukavice</label>
          </div>
          <div class="form-group form-check pl-4">
            <input type="checkbox" class="form-check-input" id="idruka">
            <label class="form-check-label" for="idruka">Ne pere ruke</label>
          </div>
          <div class="form-group form-check pl-4">
            <input type="checkbox" class="form-check-input" id="idmaska">
            <label class="form-check-label" for="idmaska">Ne nosi masku</label>
          </div>
          <div class="form-group form-check pl-4">
            <input type="checkbox" class="form-check-input" id="iddistanca">
            <label class="form-check-label" for="iddistanca">Ne drži distancu</label>
          </div>
          <div class="form-group form-check pl-4">
            <input type="checkbox" class="form-check-input" id="idkaslje">
            <label class="form-check-label" for="idkaslje">Kašlje</label>
          </div>
          <div class="form-group form-check pl-4 pb-4">
            <input type="checkbox" class="form-check-input" bind-Value="@boolvalue" id="idblid">
            <label class="form-check-label" for="idblid">Malo mi je blid</label>
          </div>
          <div class="form-group pb-3">
            <label for="idopis">Opis</label>
            <textarea class="form-control" id="idopis" rows="3"></textarea>
          </div>
          <div class=""></div>
          <button type="submit" class="btn btn-outline-dark float-right">Šu prijavi ga</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-3"></div>
</div>

@code
{
  public bool boolvalue { get; set; }
  public bool rukavica { get; set; }
  public bool ruke { get; set; }
  public bool maska { get; set; }
  public bool distanca { get; set; }
  public bool blid { get; set; }
  
  void toggle()
  {
    boolvalue = !boolvalue;
  }
}

