@page "/hitlist"

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2>
                Top susjedi
            </h2>
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>yes</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>yes</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>yes</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>