@page "/"
<div class="row justify-content-center">
    <div class="col">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/dramis.jpg" class="d-block w-100 img" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="mt-2 mb-0 jumbotron">
                            <h1 class="text-center font-weight-bold display-3">Netko Vam krade trešnje?</h1>
                            <h1 class="text-center font-weight-bold display-4">Pas mu laje u 2 ujutro?</h1>
                            <h1 class="text-center font-weight-bold display-5">Sumnjičavo kašlje?</h1>
                            <h1 class="text-center font-weight-bold display-6">Malo Vam je blijed?</h1>
                            <h1 class="text-center font-weight-bold display-7">#prijavisusjeda</h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            </div>
        </div>
