@inherits LayoutComponentBase

<div class="main">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="" Match="NavLinkMatch.All>Navbar"></a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " @onclick="ToggleNavMenu" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <NavLink class="nav-link pr-1" href="">
                <button type="button" class="btn btn-outline-light">Home</button>
              </NavLink>
            </li>
            <li class="nav-item-active">
              <NavLink class="nav-link pr-1" href="prijavisusjeda">
                <button type="button" class="btn btn-outline-light">#DodajSusjeda</button>
              </NavLink>
            </li>
            <li class="nav-item-active">
              <NavLink class="nav-link pr-1" href="hitlist">
                <button type="button" class="btn btn-outline-light">#HitList</button>
              </NavLink>
            </li>
          </ul>
        </div>
      </nav>
  <div class="container">
    @Body
  </div>
</div>

@code {
    public bool collapseNavMenu = true;
    public string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
